@import "../../default.scss";
.packages-section {
  padding-top: 100px;
  @include medium-phone{
    padding-top: 72px;
  }
  .package-banner {
    .banner-left {
      height: 600px;
      background-image: url("../../Assets/package-banner.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .banner-right {
      padding: 30px 5%;
      h6 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bolder;
        font-size: 66px;
        color: #232931;
        margin-top: 100px;
        @include medium-phone {
          font-size: 40px;
        }
      }
      .scroll-down {
        margin-top: 50px;
        @include medium-phone {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 20px;
        }
        img {
          height: 100px;
        }
        p {
          text-align: center;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: #232931;
          margin-top: 10px;
        }
      }
    }
  }
  .compare-package {
    .dropdown-toggle {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f4f4f4;
      border-radius: 15px;
      height: 80px;
      width: 100%;
      margin: auto;
      font-weight: bold;
      span {
        font-weight: 400;
      }
    }
  }
  .explore-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10%;
    overflow: scroll;
    @include medium-phone {
      padding-left: 3%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .dropdown{
      width:100%;
      button{
        background-color:#ffffff00 !important;
        font-weight: 400;
        padding: 0px !important;
        height:40px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 29px;
        color: #4F545A;
       
      }
      .btn:focus {
        outline: 0;
        box-shadow:none;
      }
     
    }
   

    .explore {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      margin: 10px;
      height: auto;
      background-color: lightgrey;
      width: 33%;
      display: flex;
      align-items: flex-start;
      border-radius: 10px;
      @include medium-phone {
        width: 70%;
      }
      .property{
        min-height: 158px;
      }
      img {
        height: 60px;
      }
      h5 {
        width:270px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 44px;
        color: #232931;
      }
      p{
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 29px;
        color: #4F545A;
      }
    }
  }
}
